.user_image img {
	object-fit: cover;
	margin-top: -4em;
    margin-left: 2%;
	border-style: solid;
	border-radius: 50%;
	border-width: 5px;
	border-color: white; 
	height: 170px !important;
	width: 170px !important;
}
md-divider {
	width: 90%;
}