<!DOCTYPE html>
<html>
<head>
	<title>Nikhil Sangwan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styleSheet.css">
</head>
<body ng-app="app" ng-controller="appController">
	<div class="toolbar">
		<div class="toolbarContent">
			<div class="imageContent">
				<img alt="img" src="{{info[0].profileImg}}" class="profileImg"></img>
			</div>
			<div class="aboutContent">
				<h2 class="profileName aboutText">{{info[0].name}}</h2>
				<!-- <h2 class="email aboutText">{{info[0].email[0]}}</h2> -->
				<h2 class="workingAt aboutText"><i class="fa fa-suitcase" aria-hidden="true" style="font-size: 1em;"></i> {{info[0].workAt[0]}}</h2>
				<h2 class="residingAt aboutText"><i class="fa fa-location-arrow" aria-hidden="true" style="font-size: 1em;"></i> {{info[0].address}}</h2>
			</div> 
		</div>
	</div>
	<!-- <div class="fakeToolbar"></div> -->
	<div class="content">
		<div class="bio">
			<div class="bioContent">
				<h4 class="cardHeader">Description</h4>
				<h4 class="contentHeading">Bio</h4>
				<p class="description">
					{{info[0].about}} <!-- <br><br> -->
						<!-- <strong class="tagLine">
							{{info[0].tagLine}}
						</strong> -->
				</p>
				<h4 class="contentHeading">Skills</h4>
				<div class="chipBox">
					<ul class="chip" ng-repeat = "data in info[0].skills">
						<li>{{data}}</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- WORK EXPERIENCE -->
		<div class="workExperience card">
			<div class="cardContent">
				<h4 class="cardHeader">Work Experience</h4>
				<div ng-repeat = "(key, value) in info[0].experience">
					<h3 class="contentHeading">{{key}}</h3>
					<h4 class="contentSubHeading">{{value.post}}</h4>
					<h4 class="contentSubHeading">{{value.duration}}</h4>
					<p class="description">{{value.details}}</p>
				</div>
			</div>
		</div>

		<!-- EDUCATION -->
		<div class="education card">
			<div class="cardContent">
				<h4 class="cardHeader">Education</h4>
				<div ng-repeat="(key, value) in info[0].education">
					<h3 class="contentHeading">{{key}}</h3>
					<h4 class="contentSubHeading">{{value.institute}}</h4>
					<p class="description">GPA : {{value.cgpa}}</p>
				</div>
			</div>
		</div>

		<!-- PROJECTS -->
		<div class="projects card">
			<div class="cardContent">
				<h4 class="cardHeader">Pojects</h4>
				<div ng-repeat="(key, value) in info[0].projects">
					<h3 class="contentHeading">{{key}}</h3>
					<h4 class="contentSubHeading">{{value.post}}</h4>
					<p class="description">{{value.aboutProject}}</p>
				</div>
			</div>
		</div>

		<!-- CONTRIBUTIONS -->
		<div class="contributions card">
			<div class="cardContent">
				<h4 class="cardHeader">Open Source Contributions</h4>
				<ul class="contLinks description" ng-repeat="(key, value) in info[0].contributions">
					<li><a target="_blank" href="{{value}}">{{key}} : {{value}}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- SCRIPTS -->

	<!-- <script type="text/javascript" src="lib/jquery.js"></script> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="controllers.js"></script>

</body>
</html>