/*TOOLBAR STYLING*/

.toolbar {
	height: 20em !important;
	width: 100% !important;
	background: #1A237E;
	/*backface-visibility: 50%;*/
}
.toolbarContent {
	height: auto;
}
/*.fakeToolbar {
	height: 5em !important;
	width: 100% !important;
	background: #1A237E;	
}*/
.table {
	width: 100%;
	height: auto;
}
.profileImg {
	margin-left: auto;
	margin-top: 4em;
	height: 10em;
	width: 10em; 
	border-radius: 5em;
}
.tableColumn1 {
	width: 20em;
}
.tableColumn2 {
	display: flex;
}
.profileName {
	object-fit: cover;
	margin-top: 4em;
	margin-right: auto;
	font-weight: bold;
	font-size: 1.3em;
	color: white;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}



/*CONTENT STYLING*/
.cardHeader {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	color: #9E9E9E;
	position: relative;
	margin-left: 1em;
	padding-top: 0.5em;
}
.contentHeading {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	position: relative;
	margin-left: 1em;
	margin-bottom: 0;
}
.description {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	font-size: 13px;
	margin: 10px;
	color: #9E9E9E;
}
.bio {
	width: 85%;
    margin: auto;
    margin-top: -5em;
    background: white;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.bio:hover {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.card {
	width: 85%;
    margin: auto;
    background: white;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.chipBox {
	display: flex;
	margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
}
.chip {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	display: inline-block;
    padding: 0px 20px;
    height: 30px;
    font-size: 13px;
    line-height: 31px;
    border-radius: 25px;
    background-color: #f1f1f1;}

/*MEDIA QUERY*/
@media only screen and (max-width: 500px) {
	.toolbar {
		height: 23em !important;
	}
	.bio {
		margin-top: -8em;
	}
	.profileName {
		margin-right: 4em;
	}
	.profileImg {
		height: 9em;
		width: 9em;
	}
}


/*TAGS STYLING*/
body {
	margin: auto;
	background: #E0E0E0;
}